<% provide(:title, 'Courses') %>


  <body class="emma">
    
    <div class="container-narrow">



      <div class="newclass" id="classbutton">
        <h1>Choose your class</h1>
        <p><hr></p>
      <% Course.all.each do |course| %>
              <br><br><a style="margin:10px; width:150px;" class="btn btn-large btn-success" href="#"><%= course.name %></a>

      <%end%>
      </div>
      
      <div class="boxclass">
        <p class="lead"></p>
      </div>
      

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4></h4>
          <p></p>

          <h4></h4>
          <p></p>

          <h4></h4>
          <p></p>
        </div>
       

          <h4></h4>
          <p></p>

          <h4></h4>
          <p></p>
        </div>
      </div>

      <hr>



    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap-transition.js"></script>
    <script src="bootstrap-alert.js"></script>
    <script src="bootstrap-modal.js"></script>
    <script src="bootstrap-dropdown.js"></script>
    <script src="bootstrap-scrollspy.js"></script>
    <script src="bootstrap-tab.js"></script>
    <script src="bootstrap-tooltip.js"></script>
    <script src="bootstrap-popover.js"></script>
    <script src="bootstrap-button.js"></script>
    <script src="bootstrap-collapse.js"></script>
    <script src="bootstrap-carousel.js"></script>
    <script src="bootstrap-typeahead.js"></script>

  </body>

